{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>
{% for element in games %}
    {{element.name}}
    {{element.yearRelease}}
    {{element.nbrPlayers}}
    {{element.ageMin}}
    {{element.duration}}
    <img style= "width:200px"src="{{asset('uploads/'~ element.img)}}"> 
    {{element.description}}
    
{% endfor %}


    <a href="{{ path('app_categories_index') }}">back to list</a>



    
{% endblock %}
