{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <section class='container text-center'>
        <h1>Categories</h1>
        <section class="row">
{% for element in games %}
            <div class="cardindex card col m-5 shadow p-0 rounded" style="width: 18rem;">
                <img  src="{{asset('uploads/'~ element.img)}}" class="card-img-top" alt="image du jeux">
                    <div class="card-body">
                        <h5 class="card-title">{{element.name}}</h5>
                        <p class="card-text"> Description : {{element.description}}</p>
                        <a class="btn btn-warning" href="{{ path('app_game_show', {'id': element.id}) }}">Voir plus</a>
                    </div>
            </div>  
             
{% endfor %}
</section>


    <a class="btn btn-warning" href="{{ path('app_game_index') }}">Retour à la liste des jeux</a>



    
{% endblock %}
