{% extends 'base.html.twig' %}

{% block title %}Boardgame index{% endblock %}

{% block body %}
    <section class='container text-center'>
    <h1>Boardgame index</h1>
        {% for boardgame in boardgames %}
        <div class="card" style="width: 18rem;">
            <img  src="{{ asset('uploads/' ~ boardgame.img)}}" class="card-img-top" alt="image du jeux">
            <div class="card-body">
                <h5 class="card-title">{{ boardgame.name }}</h5>
                <p class="card-text">{{ boardgame.description }}</p>
                <a href="{{ path('app_game_show', {'id': boardgame.id}) }}">show</a>
                {#<a href="{{ path('app_game_edit', {'id': boardgame.id}) }}">edit</a>#}
            </div>
        </div>
        {% endfor %}
        </section>
{% endblock %}
