{% extends 'base.html.twig' %}

{% block title %}Boardgame{% endblock %}

{% block body %}
    <h1>Boardgame</h1>
    <section class="container" >
    <div class="card">
        <img  src="{{asset('uploads/'~ boardgame.img)}}" class="card-img-top" alt="image du jeux">
            <div class="card-body">
                <h5 class="card-title text-center text-uppercase">{{boardgame.name}}</h5>
                <p class="card-text">Sortie en : {{boardgame.yearRelease}}</p>
                <p class="card-text">Nombre de joueurs max : {{boardgame.nbrPlayers}}</p>
                <p class="card-text">Age conseillé : {{boardgame.ageMin}} ans</p>
                <p class="card-text">Duree d'une partie : {{boardgame.duration}} heure</p>
                <p class="card-text"> Description : {{boardgame.description}}</p>
                <p class="card-text"> Categories : {{category.name}}</p>
                <p class="card-text"> Proprio : {{boardgame.owner}}</p> 
            </div>
    </div> 
   <div class="m-5"> 
    <a class="m-5 btn btn-warning" href="{{ path('app_game_index') }}">Retour à la liste des jeux</a>
    <a class="m-5 btn btn-warning" href="{{ path('app_reservations_new', {'id': boardgame.id}) }}">Reservation</a>
    <a class="m-5 btn btn-warning" href="{{ path('app_game_edit', {'id': boardgame.id}) }}">Modifier</a>
    </div>
</section>
    {{ include('game/_delete_form.html.twig') }}
{% endblock %}
