{% extends 'base.html.twig' %}

{% block title %}Boardgame{% endblock %}

{% block body %}
    <h1>Boardgame</h1>
    <section class="container" >
    <div class="card">
        <img  src="{{asset('uploads/'~ boardgame.img)}}" class="card-img-top" alt="image du jeux">
            <div class="card-body">
                <h5 class="card-title text-center text-uppercase">{{boardgame.name}}</h5>
                <p class="card-text">Sortie en : {{boardgame.yearRelease}}</p>
                <p class="card-text">Nombre de joueurs max : {{boardgame.nbrPlayers}}</p>
                <p class="card-text">Age conseillé : {{boardgame.ageMin}} ans</p>
                <p class="card-text">Duree d'une partie : {{boardgame.duration}} heure</p>
                <p class="card-text"> Description : {{boardgame.description}}</p>
                <p class="card-text"> Categories : {{category.name}}</p>
                <p class="card-text"> Proprio : {{boardgame.owner}}</p> 
            </div>
    </div> 
      
                {% for comment in boardgame.comments %}
                    <div class="cardindex card col m-5 shadow p-0 rounded" style="width: 18rem;">   {{comment.comment}}</div>
                {% endfor %}
         
    <div class="cardindex card col m-5 shadow p-0 rounded" style="width: 18rem;"> 
                 {{form(form)}}
    </div>  
   <div class="m-5"> 
    <a class="m-5 btn btn-warning" href="{{ path('app_game_index') }}">Retour à la liste des jeux</a>
    {% if app.user %}
    <a class="m-5 btn btn-warning" href="{{ path('app_reservations_new', {'id': boardgame.id}) }}">Reservation</a>
    {% endif %}
        </div>
</section>
{% endblock %}
