{% extends 'base.html.twig' %}

{% block title %}Reservations index{% endblock %}

{% block body %}
    <h1>Reservations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start_rent</th>
                <th>End_rent</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.startRent ? reservation.startRent|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reservation.endRent ? reservation.endRent|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_reservations_show', {'id': reservation.id}) }}">show</a>
                    <a href="{{ path('app_reservations_edit', {'id': reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
